---
layout: page
title: About
permalink: /about/
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/all.min.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ "css/front.css" | prepend: site.baseurl }}">
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img class="background" src="{{ site.front_img_path }}" id="fullscreen">
            <img class="background" src="{{ site.front_mobile_img_path }}" id="mobile_back">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}
                <h3 class="follow">Follow Levistance</h3>
                <ul>
                    {% if site.youtube_username %}
                    <li><a class="fa fa-2x fa-brands fa-youtube" href="https://youtube.com/channel/{{ site.youtube_username }}"><span class="description">Youtube</span></a></li>
                    {% endif %}

                    {% if site.instagram_username %}
                    <li><a class="fa fa-2x fa-brands fa-instagram" href="https://instagram.com/{{ site.instagram_username }}"><span class="description">Instagram</span></a></li>
                    {% endif %}

                    {% if site.facebook_username %}
                    <li><a class="fa fa-2x fa-brands fa-facebook" href="https://facebook.com/{{ site.facebook_username }}"><span class="description">Facebook</span></a></li>
                    {% endif %}
                </ul>
        </div>
        <div class="album_intro">
            <div class="row">
                <div class="col">
                    <h3>1st album</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <h1>Nard</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <p>“Like a woman who broke a jar of perfume,<br/>
                    we break ourselves everyday.”<br/>
                    John 12:3</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm learn_more">
                    <button class="btn">Learn More</button>
                </div>
                <div class="col-sm"></div>
            </div>
        </div>
        <div class="track-list">
            <div class="row">
                <h3>1st Nard Alum</h3>
            </div>
            <div class="row title">
                <h1>Tracklist</h1>
            </div>
            <div class="row">
                <div class="col col-6 col-sm">
                    <img src="imgs/01_Levistance.jpg" alt="{{ site.track01 }}">
                    <span>{{ site.track01 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/02_My_God.jpg" alt="{{ site.track02 }}">
                    <span>{{ site.track02 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/03_Show_me_Your_glory.jpg" alt="{{ site.track03 }}">
                    <span>{{ site.track03 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/04_Running_to_You.jpg" alt="{{ site.track04 }}">
                    <span>{{ site.track04 }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-6 col-sm">
                    <img src="imgs/05_The_Prodigal_Son.jpg" alt="{{ site.track05 }}">
                    <span>{{ site.track05 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/06_Sweeter_than_wine.jpg" alt="{{ site.track06 }}">
                    <span>{{ site.track06 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/07_One_thing_I_want.jpg" alt="{{ site.track07 }}">
                    <span>{{ site.track07 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/08_Down_to_the_lowest.jpg" alt="{{ site.track08 }}">
                    <span>{{ site.track08 }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-6 col-sm">
                    <img src="imgs/09_Let_me_stay_at_Your_feet.jpg" alt="{{ site.track09 }}">
                    <span>{{ site.track09 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/10_Home.jpg" alt="{{ site.track10 }}">
                    <span>{{ site.track10 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/11_Holy perfect storm.jpg" alt="{{ site.track11 }}">
                    <span>{{ site.track11 }}</span>
                </div>
                <div class="col col-6 col-sm">
                    <img src="imgs/12_Jesus is coming.jpg" alt="{{ site.track12 }}">
                    <span>{{ site.track12 }}</span>
                </div>
            </div>
        </div>
        <div class="levistance-intro">
            <div class="row">
                <div class="col"><img src="imgs/symbol_pc.png" alt="levistance-intro"></div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Levistance, a combination of two words<br/>
                        ‘Levite’ and ‘Resistance’,
                        <br/>is worship team that resists the culture of Babylon
                        <br/> and serves the next generation.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col team">
                    <img src="imgs/team.png" alt="team intro">
                </div>
            </div>
        </div>
    </body>
    <script src="{{ "js/fa.js" | prepend: site.baseurl }}" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>

